* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.head {
  display: flex;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 30px;
  background-color: #dee5ef;
  align-content: center;
  justify-content: center;
}

.intro .name {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 80px;
  font-size: 10vmin;
}

.intro .name strong {
  color: #1e6fd9;
}

.intro .title {
  font-weight: 400;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 3.5vmin;
}

.intro .resume {
  padding-top: 10px;
  font-weight: 400;
  padding-left: 80px;
  font-size: 2.5vmin;
}

.bodyshot {
  width: 50vmin;
  height: fit-content;
  margin: 30px;
  margin-top: 80px;
  box-shadow: 30px 16px #1e6fd9;
}

.icons {
  background-color: aliceblue;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  display: flex;
  gap: 8px;
  list-style-type: none;
}

.icons li a img {
  width: 30px;
}
